{% extends 'Layout.html' %}


{% block body %}
{% comment %} manu bar {% endcomment %}
<div class="container_fluid  bg-danger">
  <div class="container">
   <div class="row">
     <div class="col-2 d-flex p-1 text-white category" >
      <div class="d-flex category">
       <div class="my-1 category"><ion-icon name="list-outline"></ion-icon></div>
       <div class="mx-2 category"> Categoris</div>
      </div>
     </div>
     {% comment %} //menu {% endcomment %}
     <div class="col-md-8 text-white d-md-flex justify-between justify-content-lg-between active " id="menu">
       <a href="{% url 'home' %}"class="text-decoration-none text-white text add">HOME</a>
       {% for categories in categories %}
       <a href="{% url 'categpryProduct' categories.id %}"class="text-decoration-none text-white text ">{{categories.cname}} </a>
       {% endfor %}
       {% comment %} <a href="{% url 'Payment_page' %}"class="text-decoration-none text-white text">payments </a> {% endcomment %}
       <a href="{% url 'Add_address_page' %}"class="text-decoration-none text-white text">add_address </a>
       {% if request.session.id %}
       <a href="{% url 'logout' %}"class="text-decoration-none text-white text add btn btn-primary">Logout</a>
       {% else %}
       <a href="{% url 'Login_page' %}"class="text-decoration-none text-white text add">LOGIN</a>
       {% endif %}
     </div>
     <div class="col-1">
       <button class="btn btn-danger button "><ion-icon name="menu-outline" class="icon"></ion-icon></button>
     </div>
   </div>

   {% comment %} menu end {% endcomment %}
  </div>
 </div>

{% comment %} ///end menu bar {% endcomment %}
<div class="container">
    <div class="row">
   
         {% comment %} new products {% endcomment %}
     <div class="row bg-white my-2">
        <div class="col-12 border-bottom">
          <div class="row d-flex justify-content-between">
            <div class="col-4 px-4 pt-4">
              <h6>GROCORI PAGE</h6>
            </div>
            <div class="col-4 d-flex">
              <p class="text-danger px-4 pt-4"><ion-icon name="caret-back-circle-outline"></ion-icon></p>
              <p class="text-danger px-4 pt-4"><ion-icon name="caret-forward-circle"></ion-icon></p>
            </div>
          </div>
        </div>
        {% comment %} ///products {% endcomment %}
        {% for grocory in grocory %}
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-4 product">
          <div class="row my-2">
            <div class="col">
              <a href="{% url 'Single_product' grocory.id %}" class="text-decoration-none text-dark">
              <div class="card">
                <div class="row p-4">
                  <img src="\media\{{grocory.pimage}}" alt="" >
                </div>
                <div class="row p-0 mx-auto">
                  <p >{{grocory.pname}}</p>
                  <del>total:{{grocory.ptotal}}</del>
                  <p class="text-success">Price: {{grocory.pprice}}</p>
                  <h6>{{grocory.pdiscount}}% discount</h6>
                </div>
              </div>
            </a>
            </div>
          </div>
        </div>
     
        {% comment %} ///end products {% endcomment %}
        {% endfor %}
         
       </div>
       {% comment %} end new product {% endcomment %}

    </div>
</div>

{% endblock body %}
    